<footer class="mt-16 p-6 bg-white dark:bg-slate-800">
    <div class="mx-auto max-w-screen-xl text-center">
        <div class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
            <p>© {{ now|date('Y')}} Powered By <a target="_blank" href="https://octopuspress.dev" class="hover:underline">OctopusPress™</a>. All Rights Reserved.</p>
            {% set beian = theme_mod('beian') %}
            {% set keywords = site_keywords|default('')|split(',') %}
            {% if keywords or beian %}
            <p class="pt-2 flex flex-row flex-wrap justify-center">
                {% for key in keywords %}
                <a class="mx-1" href="{{ site_url }}">{{ key }}</a>
                {% endfor %}
                {% if beian %}
                <a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank" rel="nofollow">{{ beian }}</a>
                {% endif %}
            </p>
            {% endif %}
        </div>
    </div>
</footer>

