{% extends layout %}
{% block body %}
    {% set keyword = site_keywords|default('')|split(',')[0] %}
    <div class="container mx-auto my-5">

        <div class="flex text-6xl flex-wrap p-6 justify-between text-primary dark:text-slate-400">
            <div class="mx-4"><a href="/tag/php" title="php专题"><i class="devicon-php-plain"></i></a></div>
            <div class="mx-4"><a href="/tag/docker" title="docker专题"><i class="devicon-docker-plain"></i></a></div>
            <div class="mx-4"><a href="/tag/java" title="java专题"><i class="devicon-java-plain"></i></a></div>
            <div class="mx-4"><a href="/tag/golang" title="golang专题"><i class="devicon-go-plain"></i></a></div>
            <div class="mx-4"><a href="/tag/mysql" title="mysql专题"><i class="devicon-mysql-plain"></i></a></div>
            <div class="mx-4"><a href="/tag/javascript" title="javascript专题"><i class="devicon-javascript-plain"></i></a></div>
        </div>
        <div class="flex flex-col lg:flex-row px-4 sm:px-0">
            <div class="flex-1 flex-grow overflow-hidden">
                <div class="flex flex-col relative bg-white dark:bg-slate-800 rounded-lg">
                    {% set collection = get_posts() %}
                    {% include 'summer/list.html.twig' %}
                </div>
            </div>
            <div class="w-full mt-4 lg:mt-0 lg:ml-4 lg:w-96">
                <div class="bg-white dark:bg-slate-800  rounded-lg">
                    <div class="">
                        <h3 class="text-xl p-4 text-slate-500 dark:text-slate-400 font-medium border-b border-slate-200 dark:border-slate-900">热门{{ keyword }}</h3>
                        <div class="pt-4">
                            <ul>
                                {% set entities = widget('high_posts') %}
                                {% for item in entities %}
                                    <li class="truncate px-4 py-2 border-b border-slate-200 dark:border-slate-900 last:border-0 flex items-center">
                                        <span class="block rounded-full w-5 h-5 text-white text-center {% if loop.index == 1 %} bg-yellow-500 {% elseif loop.index == 2 %} bg-stone-300 {% elseif loop.index == 3 %} bg-amber-900 {% endif %}">{% if loop.index < 4 %}{{ loop.index }}{% endif %}</span>
                                        <h3 class="truncate text-base leading-8 text-slate-900 dark:text-slate-400 ml-2">
                                            <a class="hover:underline" href="{{ permalink(item) }}">{{ item.getTitle() }}</a>
                                        </h3>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

