{% extends layout %}

{% block body %}
<section>
    <div class="container mx-auto my-5 px-4 sm:px-0">
        <div class="isolate pt-14">
            {{ widget('breadcrumb', {template: 'summer/breadcrumb.html.twig'}) }}
        </div>
        <div class="flex isolate mx-auto pt-4 justify-between flex-col items-center md:items-start md:flex-row">
            <div class="flex-auto w-full overflow-hidden">
                {% include 'summer/list.html.twig' %}
            </div>
            {% include 'summer/right_bar.html.twig' %}
        </div>
    </div>
</section>
{% endblock %}
