@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-body {
  @apply leading-relaxed text-gray-900 dark:text-gray-500 break-words text-base;
 }

.markdown-body details {
  @apply block;
}

.markdown-body summary {
  @apply list-item;
}

.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
}

.markdown-body strong {
  @apply font-bold;
}

.markdown-body img {
  border-style: none;
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
  font-family: monospace,monospace;
  font-size: 1em;
}


.markdown-body [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body a {
  @apply text-red-500 no-underline;
}

.markdown-body a:hover {
  @apply text-red-500 underline;
}


.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-body td,
.markdown-body th {
  @apply p-0;
}

.markdown-body details summary {
  cursor: pointer;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  @apply font-semibold mt-6 mb-4 leading-tight;
  margin-top: 24px;
  margin-bottom: 16px;
}

.markdown-body h1 {
  @apply text-3xl;
}

.markdown-body h2 {
  @apply text-2xl;
}

.markdown-body h3 {
  @apply text-xl;
}

.markdown-body h4 {
  @apply text-lg;
}
.markdown-body h5
{
  @apply text-base;
}

.markdown-body h6 {
  @apply text-sm;
}

.markdown-body p {
  @apply mt-0 mb-3;
}

.markdown-body blockquote {
  @apply m-0;
}

.markdown-body ol,
.markdown-body ul {
  @apply my-0 pl-0;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

.markdown-body ol ol ol,
.markdown-body ol ul ol,
.markdown-body ul ol ol,
.markdown-body ul ul ol {
  list-style-type: lower-alpha;
}

.markdown-body dd {
  margin-left: 0;
}

.markdown-body code,
.markdown-body pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

.markdown-body pre {
  @apply my-0;
}

.markdown-body input::-webkit-inner-spin-button,
.markdown-body input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.markdown-body:after,
.markdown-body:before {
  display: table;
  content: "";
}

.markdown-body:after {
  clear: both;
}

.markdown-body>:first-child {
  @apply mt-0;
}

.markdown-body>:last-child {
  @apply mb-0;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body blockquote,
.markdown-body details,
.markdown-body dl,
.markdown-body ol,
.markdown-body p,
.markdown-body pre,
.markdown-body table,
.markdown-body ul {
  @apply mt-4 mb-4;
}

.markdown-body hr {
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.markdown-body blockquote {
  @apply py-0 pl-4 text-gray-600 border-l-4 border-gray-600 bg-gray-100 dark:bg-gray-800;
}

.markdown-body blockquote>:first-child {
  @apply mt-0;
}

.markdown-body blockquote>:last-child {
  @apply mb-0;
}

.markdown-body h1,
.markdown-body h2 {
  @apply border-b border-gray-100 dark:border-gray-700 pb-2;
}

.markdown-body ol,
.markdown-body ul {
  @apply pl-5;
}

.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body li {
  @apply break-all;
}

.markdown-body li>p {
  margin-top: 16px;
}

.markdown-body li+li {
  margin-top: .25em;
}

.markdown-body dl {
  padding: 0;
}

.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown-body table th {
  font-weight: 600;
}

.markdown-body table td,
.markdown-body table th {
  @apply px-4 py-2 border border-gray-200 dark:border-gray-700;
}

.markdown-body table tr {
  @apply bg-white dark:bg-gray-800 border-t border-gray-200 dark:border-gray-700;
}

.markdown-body table tr:nth-child(2n) {
  @apply bg-gray-50 dark:bg-gray-900;
}

.markdown-body img {
  max-width: 100%;
  box-sizing: initial;
  background-color: #fff;
}

.markdown-body img[align=right] {
  padding-left: 20px;
}

.markdown-body img[align=left] {
  padding-right: 20px;
}

.markdown-body code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}

.markdown-body pre {
  word-wrap: normal;
}

.markdown-body pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.markdown-body pre code {
  display: inline;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}
.markdown-body .heading-permalink {
  display: none;
}



/*!
 * FilePond 4.25.1
 * Licensed under MIT, https://opensource.org/licenses/MIT/
 * Please visit https://pqina.nl/filepond/ for details.
 */

/* eslint-disable */
.filepond--assistant {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Hard to override styles */
.filepond--browser.filepond--browser {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 1em;
  top: 1.75em;
  width: calc(100% - 2em);
  opacity: 0;
  font-size: 0;
}

.filepond--data {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  visibility: hidden;
  pointer-events: none;
  contain: strict;
}

.filepond--drip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.1;
  pointer-events: none;
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.01);
}

.filepond--drip-blob {
  position: absolute;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  top: 0;
  left: 0;
  width: 8em;
  height: 8em;
  margin-left: -4em;
  margin-top: -4em;
  background: #292625;
  border-radius: 50%;
  will-change: transform, opacity;
}

.filepond--drop-label {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  color: #4f4f4f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  will-change: transform, opacity;
}

/* Hard to override styles on purpose */
.filepond--drop-label.filepond--drop-label label {
  display: block;
  margin: 0;
  padding: 0.5em;
}

.filepond--drop-label label {
  cursor: default;
  font-size: 0.875em;
  font-weight: normal;
  text-align: center;
  line-height: 1.5;
}

.filepond--label-action {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  -webkit-text-decoration-color: #a7a4a4;
  text-decoration-color: #a7a4a4;
  cursor: pointer;
}

.filepond--root[data-disabled] .filepond--drop-label label {
  opacity: 0.5;
}

/* Hard to override styles */
.filepond--file-action-button.filepond--file-action-button {
  font-size: 1em;
  width: 1.625em;
  height: 1.625em;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  will-change: transform, opacity;
}
.filepond--file-action-button.filepond--file-action-button span {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  white-space: nowrap;
}
.filepond--file-action-button.filepond--file-action-button svg {
  width: 100%;
  height: 100%;
}
.filepond--file-action-button.filepond--file-action-button::after {
  position: absolute;
  left: -0.75em;
  right: -0.75em;
  top: -0.75em;
  bottom: -0.75em;
  content: '';
}

/* Soft styles */
.filepond--file-action-button {
  cursor: auto;
  color: #fff;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: none;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  transition: box-shadow 0.25s ease-in;
}
.filepond--file-action-button:hover,
.filepond--file-action-button:focus {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
}
.filepond--file-action-button[disabled] {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.25);
}
.filepond--file-action-button[hidden] {
  display: none;
}

/* edit button */
.filepond--action-edit-item.filepond--action-edit-item {
  width: 2em;
  height: 2em;
  padding: 0.1875em;
}
.filepond--action-edit-item.filepond--action-edit-item[data-align*='center'] {
  margin-left: -0.1875em;
}
.filepond--action-edit-item.filepond--action-edit-item[data-align*='bottom'] {
  margin-bottom: -0.1875em;
}

.filepond--action-edit-item-alt {
  border: none;
  line-height: inherit;
  background: transparent;
  font-family: inherit;
  color: inherit;
  outline: none;
  padding: 0;
  margin: 0 0 0 0.25em;
  pointer-events: all;
  position: absolute;
}
.filepond--action-edit-item-alt svg {
  width: 1.3125em;
  height: 1.3125em;
}
.filepond--action-edit-item-alt span {
  font-size: 0;
  opacity: 0;
}

.filepond--file-info {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  margin: 0 0.5em 0 0;
  min-width: 0;
  will-change: transform, opacity;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filepond--file-info * {
  margin: 0;
}
.filepond--file-info .filepond--file-info-main {
  font-size: 0.75em;
  line-height: 1.2;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.filepond--file-info .filepond--file-info-sub {
  font-size: 0.625em;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
  white-space: nowrap;
}
.filepond--file-info .filepond--file-info-sub:empty {
  display: none;
}

.filepond--file-status {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0;
  min-width: 2.25em;
  text-align: right;
  will-change: transform, opacity;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filepond--file-status * {
  margin: 0;
  white-space: nowrap;
}
.filepond--file-status .filepond--file-status-main {
  font-size: 0.75em;
  line-height: 1.2;
}
.filepond--file-status .filepond--file-status-sub {
  font-size: 0.625em;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
}

/* Hard to override styles */
.filepond--file-wrapper.filepond--file-wrapper {
  border: none;
  margin: 0;
  padding: 0;
  min-width: 0;
  height: 100%;
}
.filepond--file-wrapper.filepond--file-wrapper > legend {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  white-space: nowrap;
}

.filepond--file {
  position: static;
  display: flex;
  height: 100%;
  align-items: flex-start;
  padding: 0.5625em 0.5625em;
  color: #fff;
  border-radius: 0.5em;
}
.filepond--file .filepond--file-status {
  margin-left: auto;
  margin-right: 2.25em;
}
.filepond--file .filepond--processing-complete-indicator {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 3;
}
.filepond--file .filepond--processing-complete-indicator,
.filepond--file .filepond--progress-indicator,
.filepond--file .filepond--file-action-button {
  position: absolute;
}
.filepond--file [data-align*='left'] {
  left: 0.5625em;
}
.filepond--file [data-align*='right'] {
  right: 0.5625em;
}
.filepond--file [data-align*='center'] {
  left: calc(50% - 0.8125em);
}
.filepond--file [data-align*='bottom'] {
  bottom: 1.125em;
}
.filepond--file [data-align='center'] {
  top: calc(50% - 0.8125em);
}
.filepond--file .filepond--progress-indicator {
  margin-top: 0.1875em;
}
.filepond--file .filepond--progress-indicator[data-align*='right'] {
  margin-right: 0.1875em;
}
.filepond--file .filepond--progress-indicator[data-align*='left'] {
  margin-left: 0.1875em;
}

[data-filepond-item-state='cancelled'] .filepond--file-info,
[data-filepond-item-state*='invalid'] .filepond--file-info,
[data-filepond-item-state*='error'] .filepond--file-info {
  margin-right: 2.25em;
}

[data-filepond-item-state~='processing'] .filepond--file-status-sub {
  opacity: 0;
}

[data-filepond-item-state~='processing']
.filepond--action-abort-item-processing
~ .filepond--file-status
.filepond--file-status-sub {
  opacity: 0.5;
}

[data-filepond-item-state='processing-error'] .filepond--file-status-sub {
  opacity: 0;
}

[data-filepond-item-state='processing-error']
.filepond--action-retry-item-processing
~ .filepond--file-status
.filepond--file-status-sub {
  opacity: 0.5;
}

[data-filepond-item-state='processing-complete']
.filepond--action-revert-item-processing
svg {
  -webkit-animation: fall 0.5s 0.125s linear both;
  animation: fall 0.5s 0.125s linear both;
}

[data-filepond-item-state='processing-complete'] .filepond--file-status-sub {
  opacity: 0.5;
}

[data-filepond-item-state='processing-complete']
.filepond--processing-complete-indicator:not([style*='hidden'])
~ .filepond--file-status
.filepond--file-status-sub {
  opacity: 0;
}

[data-filepond-item-state='processing-complete'] .filepond--file-info-sub {
  opacity: 0;
}

[data-filepond-item-state='processing-complete']
.filepond--action-revert-item-processing
~ .filepond--file-info
.filepond--file-info-sub {
  opacity: 0.5;
}

[data-filepond-item-state*='invalid'] .filepond--panel,
[data-filepond-item-state*='invalid'] .filepond--file-wrapper,
[data-filepond-item-state*='error'] .filepond--panel,
[data-filepond-item-state*='error'] .filepond--file-wrapper {
  -webkit-animation: shake 0.65s linear both;
  animation: shake 0.65s linear both;
}

[data-filepond-item-state*='busy'] .filepond--progress-indicator svg {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

/**
 * States
 */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translateX(-0.0625em);
    transform: translateX(-0.0625em);
  }
  20%,
  80% {
    -webkit-transform: translateX(0.125em);
    transform: translateX(0.125em);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-0.25em);
    transform: translateX(-0.25em);
  }
  40%,
  60% {
    -webkit-transform: translateX(0.25em);
    transform: translateX(0.25em);
  }
}

@keyframes shake {
  10%,
  90% {
    -webkit-transform: translateX(-0.0625em);
    transform: translateX(-0.0625em);
  }
  20%,
  80% {
    -webkit-transform: translateX(0.125em);
    transform: translateX(0.125em);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-0.25em);
    transform: translateX(-0.25em);
  }
  40%,
  60% {
    -webkit-transform: translateX(0.25em);
    transform: translateX(0.25em);
  }
}

@-webkit-keyframes fall {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes fall {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.filepond--hopper[data-hopper-state='drag-over'] > * {
  pointer-events: none;
}

.filepond--hopper[data-hopper-state='drag-over']::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.filepond--progress-indicator {
  z-index: 103;
}

.filepond--file-action-button {
  z-index: 102;
}

.filepond--file-status {
  z-index: 101;
}

.filepond--file-info {
  z-index: 100;
}

.filepond--item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0;
  margin: 0.25em;
  will-change: transform, opacity;
}
.filepond--item > .filepond--panel {
  z-index: -1;
}
.filepond--item > .filepond--panel .filepond--panel-bottom {
  box-shadow: 0 0.0625em 0.125em -0.0625em rgba(0, 0, 0, 0.25);
}
.filepond--item > .filepond--file-wrapper,
.filepond--item > .filepond--panel {
  transition: opacity 0.15s ease-out;
}
.filepond--item[data-drag-state] {
  cursor: -webkit-grab;
  cursor: grab;
}
.filepond--item[data-drag-state] > .filepond--panel {
  transition: box-shadow 0.125s ease-in-out;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.filepond--item[data-drag-state='drag'] {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.filepond--item[data-drag-state='drag'] > .filepond--panel {
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.325);
}
.filepond--item[data-drag-state]:not([data-drag-state='idle']) {
  z-index: 2;
}

.filepond--item-panel {
  background-color: #64605e;
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
  background-color: #369763;
}

[data-filepond-item-state*='invalid'] .filepond--item-panel,
[data-filepond-item-state*='error'] .filepond--item-panel {
  background-color: #c44e47;
}

.filepond--item-panel {
  border-radius: 0.5em;
  transition: background-color 0.25s;
}

.filepond--list-scroller {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  will-change: transform;
}

.filepond--list-scroller[data-state='overflow'] {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-mask: linear-gradient(
    to bottom,
    #000 calc(100% - 0.5em),
    transparent 100%
  );
  mask: linear-gradient(to bottom, #000 calc(100% - 0.5em), transparent 100%);
}
.filepond--list-scroller[data-state='overflow'] .filepond--list {
  bottom: 0;
  right: 0;
}

.filepond--list-scroller::-webkit-scrollbar {
  background: transparent;
}

.filepond--list-scroller::-webkit-scrollbar:vertical {
  width: 1em;
}

.filepond--list-scroller::-webkit-scrollbar:horizontal {
  height: 0;
}

.filepond--list-scroller::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 99999px;
  border: 0.3125em solid transparent;
  background-clip: content-box;
}

/* hard to overide styles on purpose */
.filepond--list.filepond--list {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  will-change: transform;
}

/* used for padding so allowed to be restyled */
.filepond--list {
  left: 0.75em;
  right: 0.75em;
}

.filepond--root[data-style-panel-layout~='integrated'] {
  width: 100%;
  height: 100%;
  max-width: none;
  margin: 0;
}

.filepond--root[data-style-panel-layout~='circle'] .filepond--panel-root,
.filepond--root[data-style-panel-layout~='integrated'] .filepond--panel-root {
  border-radius: 0;
}
.filepond--root[data-style-panel-layout~='circle'] .filepond--panel-root > *,
.filepond--root[data-style-panel-layout~='integrated']
.filepond--panel-root
> * {
  display: none;
}

.filepond--root[data-style-panel-layout~='circle'] .filepond--drop-label,
.filepond--root[data-style-panel-layout~='integrated'] .filepond--drop-label {
  bottom: 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 7;
}

.filepond--root[data-style-panel-layout~='circle'] .filepond--item-panel,
.filepond--root[data-style-panel-layout~='integrated'] .filepond--item-panel {
  display: none;
}

.filepond--root[data-style-panel-layout~='compact'] .filepond--list-scroller,
.filepond--root[data-style-panel-layout~='integrated']
.filepond--list-scroller {
  overflow: hidden;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.filepond--root[data-style-panel-layout~='compact'] .filepond--list,
.filepond--root[data-style-panel-layout~='integrated'] .filepond--list {
  left: 0;
  right: 0;
  height: 100%;
}

.filepond--root[data-style-panel-layout~='compact'] .filepond--item,
.filepond--root[data-style-panel-layout~='integrated'] .filepond--item {
  margin: 0;
}

.filepond--root[data-style-panel-layout~='compact'] .filepond--file-wrapper,
.filepond--root[data-style-panel-layout~='integrated'] .filepond--file-wrapper {
  height: 100%;
}

.filepond--root[data-style-panel-layout~='compact'] .filepond--drop-label,
.filepond--root[data-style-panel-layout~='integrated'] .filepond--drop-label {
  z-index: 7;
}

.filepond--root[data-style-panel-layout~='circle'] {
  border-radius: 99999rem;
  overflow: hidden;
}
.filepond--root[data-style-panel-layout~='circle'] > .filepond--panel {
  border-radius: inherit;
}
.filepond--root[data-style-panel-layout~='circle'] > .filepond--panel > * {
  display: none;
}
.filepond--root[data-style-panel-layout~='circle'] .filepond--file-info {
  display: none;
}
.filepond--root[data-style-panel-layout~='circle'] .filepond--file-status {
  display: none;
}
.filepond--root[data-style-panel-layout~='circle'] .filepond--action-edit-item {
  opacity: 1 !important;
  visibility: visible !important;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .filepond--root[data-style-panel-layout~='circle'] {
      will-change: transform;
    }
  }
}

.filepond--panel-root {
  border-radius: 0.5em;
  background-color: #f1f0ef;
}

.filepond--panel {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin: 0;
  height: 100% !important;
  pointer-events: none;
}

.filepond-panel:not([data-scalable='false']) {
  height: auto !important;
}

.filepond--panel[data-scalable='false'] > div {
  display: none;
}

.filepond--panel[data-scalable='true'] {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color: transparent !important;
  border: none !important;
}

.filepond--panel-top,
.filepond--panel-bottom,
.filepond--panel-center {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.filepond--panel-top,
.filepond--panel-bottom {
  height: 0.5em;
}

.filepond--panel-top {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: none !important;
}
.filepond--panel-top::after {
  content: '';
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  bottom: -1px;
  background-color: inherit;
}

.filepond--panel-center,
.filepond--panel-bottom {
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: translate3d(0, 0.5em, 0);
  transform: translate3d(0, 0.5em, 0);
}

.filepond--panel-bottom {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: none !important;
}
.filepond--panel-bottom::before {
  content: '';
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  top: -1px;
  background-color: inherit;
}

.filepond--panel-center {
  height: 100px !important;
  border-top: none !important;
  border-bottom: none !important;
  border-radius: 0 !important;
}
.filepond--panel-center:not([style]) {
  visibility: hidden;
}

.filepond--progress-indicator {
  position: static;
  width: 1.25em;
  height: 1.25em;
  color: #fff;
  margin: 0;
  pointer-events: none;
  will-change: transform, opacity;
}

.filepond--progress-indicator svg {
  width: 100%;
  height: 100%;
  vertical-align: top;
  transform-box: fill-box;
}

.filepond--progress-indicator path {
  fill: none;
  stroke: currentColor;
}

.filepond--list-scroller {
  z-index: 6;
}

.filepond--drop-label {
  z-index: 5;
}

.filepond--drip {
  z-index: 3;
}

.filepond--root > .filepond--panel {
  z-index: 2;
}

.filepond--browser {
  z-index: 1;
}

.filepond--root {
  /* layout*/
  box-sizing: border-box;
  position: relative;
  margin-bottom: 1em;
  /* base font size for whole component */
  font-size: 1rem;
  /* base line height */
  line-height: normal;
  /* up uses default system font family */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  /* will increase font weight a bit on Safari */
  font-weight: 450;
  text-align: left;
  text-rendering: optimizeLegibility;
  direction: ltr;
  contain: layout style size;
}
.filepond--root * {
  box-sizing: inherit;
  line-height: inherit;
}
.filepond--root *:not(text) {
  font-size: inherit;
}
.filepond--root[data-disabled] {
  pointer-events: none;
}
.filepond--root[data-disabled] .filepond--list-scroller {
  pointer-events: all;
}
.filepond--root[data-disabled] .filepond--list {
  pointer-events: none;
}

/**
 * Root element children layout
 */
.filepond--root .filepond--drop-label {
  min-height: 4.75em;
}

.filepond--root .filepond--list-scroller {
  margin-top: 1em;
  margin-bottom: 1em;
}

.filepond--root .filepond--credits {
  position: absolute;
  right: 0;
  opacity: 0.175;
  line-height: 0.85;
  font-size: 11px;
  color: inherit;
  text-decoration: none;
  z-index: 3;
  bottom: -14px;
}

.filepond--root .filepond--credits[style] {
  top: 0;
  bottom: auto;
  margin-top: 14px;
}

.markdown-body ol {
  @apply list-decimal;
}
.markdown-body ul {
  @apply list-disc;
}

.table-of-contents {
  @apply list-disc pl-4;
}
.table-of-contents li a {
  @apply font-medium text-base;
}
.table-of-contents ul {
  list-style: circle;
  @apply pl-4;
}
.table-of-contents ul a {
  @apply text-sm;
}

/*
Name: Duotone Sea
Author: by Simurai, adapted from DuoTone themes by Simurai for Atom (http://simurai.com/projects/2016/01/01/duotone-themes)
Conversion: Bram de Haan (http://atelierbram.github.io/Base2Tone-prism/output/prism/prism-base2tone-sea-dark.css)
Generated with Base16 Builder (https://github.com/base16-builder/base16-builder)
*/

code[class*="language-"],
pre[class*="language-"] {
  @apply text-gray-300;
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
  background: #1d262f;
}

pre > code[class*="language-"] {
  font-size: 1em;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #004a9e;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #004a9e;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #4a5f78;
}

.token.punctuation {
  color: #4a5f78;
}

.token.namespace {
  opacity: .7;
}

.token.tag,
.token.operator,
.token.number {
  color: #ff9d3d;
}

.token.property,
.token.function {
  color: #57718e;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #ebf4ff;
}

code.language-javascript,
.token.attr-name {
  color: #7eb6f6;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: #47ebb4;
}

.token.placeholder,
.token.variable {
  color: #47ebb4;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #ebf4ff;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #7eb6f6;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: .4em solid #34659d;
  outline-offset: .4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
  border-right-color: #1f2932;
}

.line-numbers-rows > span:before {
  color: #2c3847;
}

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/
.line-highlight {
  background: rgba(10, 163, 112, 0.2);
  background: -webkit-linear-gradient(left, rgba(10, 163, 112, 0.2) 70%, rgba(10, 163, 112, 0));
  background: linear-gradient(to right, rgba(10, 163, 112, 0.2) 70%, rgba(10, 163, 112, 0));
}

pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}



div.code-toolbar {
  position: relative;
}

div.code-toolbar > .toolbar {
  position: absolute;
  top: .3em;
  right: .2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

div.code-toolbar:hover > .toolbar {
  opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}

div.code-toolbar > .toolbar .toolbar-item {
  display: inline-block;
}

div.code-toolbar > .toolbar a {
  cursor: pointer;
}

div.code-toolbar > .toolbar button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  color: #bbb;
  font-size: .8em;
  padding: 0 .5em;
  background: #f5f2f0;
  background: rgba(224, 224, 224, 0.2);
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
  border-radius: .5em;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
  color: inherit;
  text-decoration: none;
}

svg {
  @apply fill-current dark:text-gray-300;
}
