<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>归类</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label for="taxonomy" class="label col-1 col-form-label">名称</label>
            <div class="col-2">
              <nb-select id="taxonomy" name="taxonomy" [(ngModel)]="selectedMeta">
                <nb-option *ngFor="let item of taxonomies" [value]="item.value">{{item.name}}</nb-option>
              </nb-select>
            </div>
            <div class="col">
              <button nbButton type="button" status="primary" (click)="createMeta()">元信息</button>
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer *ngFor="let meta of metas; let j = index">
        <build-meta-container [meta]="meta"></build-meta-container>
      </nb-card-footer>
      <nb-card-footer class="d-flex justify-content-end">
        <button nbButton type="button" status="primary" [disabled]="metas.length < 1 || submitted" (click)="saveMeta()">保存</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
