<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>归类</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label for="taxonomy" class="label col-1 col-form-label">名称</label>
            <div class="col-2">
              <nb-select id="taxonomy" name="taxonomy" [(ngModel)]="selectedMeta">
                <nb-option *ngFor="let item of taxonomies" [value]="item.value">{{item.name}}</nb-option>
              </nb-select>
            </div>
            <div class="col">
              <button nbButton type="button" status="primary" (click)="createMeta()">元信息</button>
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer *ngFor="let meta of metas; let j = index">
        <table class="table">
          <caption>{{meta.taxonomy.name}}</caption>
          <thead>
            <tr>
              <th width="15%" scope="col">名称</th>
              <th width="15%"  scope="col">关键字</th>
              <th width="10%"  scope="col">表单类型</th>
              <th width="15%"  scope="col">描述</th>
              <th width="35%"  scope="col">选项值</th>
              <th width="10%" >
                <button nbButton type="button" status="success" (click)="metaAdd(j)">
                  <nb-icon icon="plus"></nb-icon>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of meta.forms; let i = index;">
            <td>
              <input nbInput name="name" [(ngModel)]="metas[j].forms[i].name" fullWidth />
            </td>
            <td>
              <input nbInput [(ngModel)]="metas[j].forms[i].keyword" name="keyword" fullWidth />
            </td>
            <td>
              <nb-select name="type" [(ngModel)]="metas[j].forms[i].type">
                <nb-option *ngFor="let item of formType" [value]="item.type">{{item.name}}</nb-option>
              </nb-select>
            </td>
            <td>
              <textarea nbInput rows="2" name="description" [(ngModel)]="metas[j].forms[i].description"></textarea>
            </td>
            <td>
              <ng-container *ngIf="isMultiple(metas[j].forms[i].type)">
                <table>
                  <thead>
                  <tr>
                    <th width="45%" scope="col">名称</th>
                    <th width="45%"  scope="col">值</th>
                    <th width="10%" >
                      <button nbButton type="button" status="success" (click)="metaValueAdd(j, i)">
                        <nb-icon icon="plus"></nb-icon>
                      </button>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let value of metas[j].forms[i].value; let k = index;">
                      <td>
                        <input nbInput name="optionName" [(ngModel)]="metas[j].forms[i].value[k].name" />
                      </td>
                      <td>
                        <input nbInput name="optionValue" [(ngModel)]="metas[j].forms[i].value[k].value" />
                      </td>
                      <td>
                        <button nbButton type="button" status="danger" (click)="metaTrashValueRow(j, i, k)">
                          <nb-icon icon="trash"></nb-icon>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-container>
              <ng-container *ngIf="isMedia(metas[j].forms[i].type)">
                <nb-checkbox [(ngModel)]="metas[j].forms[i].value">多选</nb-checkbox>
              </ng-container>
            </td>
            <td>
              <button nbButton type="button" status="danger" (click)="metaTrashRow(j, i)">
                <nb-icon icon="trash"></nb-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-end">
          <button nbButton type="button" status="danger" (click)="metaTrash(j)">
            <nb-icon icon="trash"></nb-icon>
          </button>
        </div>
      </nb-card-footer>
      <nb-card-footer class="d-flex justify-content-end">
        <button nbButton type="button" status="primary" [disabled]="metas.length < 1 || submitted" (click)="saveMeta()">保存</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
