{% extends 'tools/tool.html.twig' %}
{% import "tools/forms.html.twig" as forms %}
{% block child %}
    <div class="flex">
        <label class="text-slate-700 dark:text-slate-400">模式</label>
        <div class="flex-1 ml-4">
            <div class="dark:text-slate-300">
                <label><input class="!text-primary bg-slate-300 dark:bg-slate-900 border-transparent focus:border-transparent focus:bg-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-primary" name="mode" value="1" checked="" type="radio" /> 音标</label>
                <label class="mx-2"><input name="mode" value="2" type="radio" class="!text-primary  bg-slate-300 dark:bg-slate-900 border-transparent focus:border-transparent focus:bg-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-primary"/> 无音标</label>
                <label><input name="mode" value="3" type="radio" class="!text-primary bg-slate-300 dark:bg-slate-900 border-transparent focus:border-transparent focus:bg-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-primary" /> 首字母</label>
                <label class="mx-2"><input name="mode" value="4" type="radio" class="!text-primary  bg-slate-300 dark:bg-slate-900 border-transparent focus:border-transparent focus:bg-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-primary"/> 多音</label>
            </div>
        </div>
    </div>
    <div class="flex my-5">
        <label for="summary" class="text-slate-700 dark:text-slate-400">文本</label>
        <div class="flex-1 ml-4">
            <textarea required aria-required="true" id="summary" name="text" rows="10" class="block w-full rounded-md bg-slate-200 dark:bg-slate-900 dark:text-slate-300 border-transparent focus:bg-white focus:ring-0 focus:border-primary focus:dark:bg-slate-900/80" placeholder="输入你要转换的汉字"></textarea>
        </div>
    </div>
    <div class="flex my-5 justify-center">
        {{ forms.button() }}
    </div>
    <div class="flex my-5">
        <label for="result" class="text-slate-700 dark:text-slate-400">结果</label>
        <div class="flex-1 ml-4">
            <textarea id="result" rows="10" x-model="data" class="block w-full  rounded-md bg-slate-200 dark:bg-slate-900 dark:text-slate-300 border-transparent focus:bg-white focus:ring-0 focus:border-primary focus:dark:bg-slate-900/80" placeholder="这里是转换之后结果"></textarea>
        </div>
    </div>
{% endblock %}
