{% extends 'tools/sidebar.html.twig' %}
{% import "tools/forms.html.twig" as forms %}
{% block child %}
    <div class="flex">
        <label class="text-slate-700 dark:text-slate-400">模式</label>
        <div class="flex-1 ml-4">
            <div class="flex items-center dark:text-slate-300">
                <label><input name="mode" value="1" checked="" type="radio" class="!text-primary bg-slate-300 dark:bg-slate-900 border-transparent focus:border-transparent focus:bg-slate-200 focus:ring-2 focus:ring-offset-2 focus:ring-primary" /> 分词</label>
                <label class="mx-2"><input name="mode" value="2" type="radio" class="!text-primary bg-slate-300 dark:bg-slate-900 border-transparent focus:border-transparent focus:bg-slate-200 focus:ring-2 focus:ring-offset-2 focus:ring-primary" /> 分词标注</label>
                <label><input name="mode" value="3" type="radio" class="!text-primary border-transparent  bg-slate-300 dark:bg-slate-900 focus:border-transparent focus:bg-slate-200 focus:ring-2 focus:ring-offset-2 focus:ring-primary" /> 词语权重</label>
            </div>
        </div>
    </div>
    <div class="flex my-5">
        <label for="summary" class="text-slate-700 dark:text-slate-400">文本</label>
        <div class="flex-1 ml-4">
            <textarea required aria-required="true" id="summary" name="text" rows="10" class="block w-full rounded-md bg-slate-200 dark:bg-slate-900 dark:text-slate-300 border-transparent focus:bg-white focus:ring-0 focus:border-primary focus:dark:bg-slate-900/80"
                      placeholder="输入你要分词的中文语句"></textarea>
        </div>
    </div>
    <div class="flex my-5 justify-center">
        {{ forms.button('分词') }}
    </div>
    <div class="flex my-5">
        <label class="text-slate-700 dark:text-slate-400">结果</label>
        <div class="flex-1 ml-4" x-html="data">
        </div>
    </div>
{% endblock %}
