{% extends '@OctopusPress/base.html.twig' %}
{% block body %}
    <div class="container mx-auto my-5">
        <div class="isolate pt-4">
            {{ widget('breadcrumb', {template: 'summer/breadcrumb.html.twig'}) }}
        </div>
        <div class="flex pt-4">
            <div class="flex-1">
                <ul class="grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-4 gap-4 sm:gap-6 xl:gap-8 font-semibold text-slate-900 text-center">
                    {% for item in tools %}
                        <li class="flex rounded-xl w-full border border-slate-200 dark:border-slate-700 bg-white dark:bg-slate-800">
                            <a href="{{item.href}}" class="hover:underline relative shadow-sm w-full pt-8 pb-6 hover:text-primary dark:text-slate-400 dark:hover:text-primary">{{item.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
