{% extends 'tools/tool.html.twig' %}
{% import "tools/forms.html.twig" as forms %}
{% block child %}
    <div class="flex">
        <label class="text-slate-700 dark:text-slate-400">模式</label>
        <div class="flex-1 ml-4">
            <div class="flex items-center dark:text-slate-300" x-init="mode = 1">
                <label><input name="mode" class="!text-primary  bg-slate-300 dark:bg-slate-900 border-transparent focus:border-transparent focus:bg-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-primary" x-model="mode" value="1"  type="radio" /> 图片</label>
                <label class="mx-2"><input class="!text-primary  bg-slate-300 dark:bg-slate-900 border-transparent focus:border-transparent focus:bg-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-primary" x-model="mode" name="mode" value="2" type="radio" /> SVG</label>
                <label><input name="mode" class="!text-primary  bg-slate-300 dark:bg-slate-900 border-transparent focus:border-transparent focus:bg-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-primary" x-model="mode" value="3" type="radio"/> 字符</label>
            </div>
        </div>
    </div>
    <div class="flex my-5" x-show="mode == 1 || mode == 2">
        <label for="bg" class="text-slate-700 dark:text-slate-400">背景</label>
        <div class="flex-1 ml-4">
            <div class="flex items-center">
                <input id="bg" placeholder="背景" type="color" name="bg_color" value="#FFFFFF" maxlength="7" minlength="7" />
            </div>
        </div>
    </div>

    <div class="flex my-5" x-show="mode == 1 || mode == 2">
        <label for="fg" class="text-slate-700 dark:text-slate-400">前景</label>
        <div class="flex-1 ml-4">
            <div class="flex items-center">
                <input id="fg" placeholder="前景" type="color" name="fg_color" value="#000000" maxlength="7" minlength="7" />
            </div>
        </div>
    </div>
    <div class="flex my-5" x-show="mode == 1">
        <label for="logo" class="text-slate-700 dark:text-slate-400">图标</label>
        <div class="flex-1 ml-4 flex flex-col relative">
            <div class="relative" x-data="{img: ''}">
                <button type="button" @click="$refs.logo.click()" class="absolute left-0 top-0 w-36 text-white py-1 rounded-md font-medium text-center !bg-primary border-2 border-solid !border-primary">上传图标</button>
                <input id="logo" x-ref="logo" accept=".jpg, .jpeg, .png, .webp" @change="img=window.URL.createObjectURL($el.files[0])" placeholder="上传logo" class="w-36 opacity-0 invisible" name="logo" value="选择logo" type="file" />
                <img class="mt-4 max-w-xs" x-show="img!=''" :src="img" />
            </div>
            <span class="text-sm text-slate-400 mt-2">限制最大为2M</span>
        </div>
    </div>
    <div class="flex my-5" x-show="mode == 3">
        <label for="char" class="text-slate-700 dark:text-slate-400">字符</label>
        <div class="flex-1 ml-4">
            <input required id="char" placeholder="二维码字符" type="text" class="w-full rounded-md bg-slate-200 dark:text-slate-300 dark:bg-slate-900 border-transparent  focus:bg-white focus:ring-0 focus:border-primary focus:dark:bg-slate-900/80" name="char" value="" maxlength="1" minlength="1" />
        </div>
    </div>
    <div class="flex my-5">
        <label for="slogan" class="text-slate-700 dark:text-slate-400">文本</label>
        <div class="flex-1 ml-4 ">
            <textarea id="slogan" name="text" rows="10" class="w-full rounded-md bg-slate-200 dark:text-slate-300 border-transparent dark:bg-slate-900  focus:bg-white focus:ring-0 focus:border-primary focus:dark:bg-slate-900/80" placeholder="输入你需要生成二维码的文本"></textarea>
        </div>
    </div>
    <div class="flex my-5 justify-center">
        {{ forms.button('生成') }}
    </div>
    <div class="flex my-5">
        <label class="text-slate-700 dark:text-slate-400">二维码</label>
        <div class="flex-1 ml-4 text-slate-900 dark:text-slate-300" x-html="data">
        </div>
    </div>
{% endblock %}
