<div class="flex flex-col lg:flex-row items-start overflow-hidden">
    <div class="flex-1 w-full" id="inputContainer">
        <label>
            <textarea id="inputString" class="h-[calc(100vh-50vh-5rem)] lg:h-[calc(100vh-10.75rem)] w-full rounded-md scrollable bg-slate-200 dark:bg-slate-800 dark:text-slate-300 border-transparent focus:bg-white focus:ring-0 focus:border-primary focus:dark:bg-slate-900/80" placeholder="输入编码解码字符..."></textarea>
        </label>
    </div>
    <div class="w-1"></div>
    <div class="flex-1 w-full" id="outputContainer">
        <label>
            <textarea id="outputString" class="h-[calc(100vh-50vh-5rem)] lg:h-[calc(100vh-10.75rem)] w-full rounded-md scrollable bg-slate-200 dark:bg-slate-800 dark:text-slate-300 border-transparent focus:bg-white focus:ring-0 focus:border-primary focus:dark:bg-slate-900/80" placeholder="编码解码结果..."></textarea>
        </label>
    </div>
</div>
